<div id="plantilla_login_ok">
    <div class="col-lg-3" style="padding-top: 10%">
        <img src="{{url_imagen}}" class="img-circle" height="48px" width="48px">
    </div>
    <div class="col-lg-9"><a href="javascript:get_datos_user()"><h4>{{nombre}}<br>{{apellidos}}</h4></a>
        <a href="javascript:get_carrito()">Ver carrito</a><br>
        <a href="javascript:logout()">Cerrar sesión</a>
    </div>
</div>

<div id="plantilla_logout">
    <div id="click_login"><h4>Login</h4></div>
    <div id="form_login" class="panel-body" role="form" style="display: none">
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
            <input type="text" class="form-control" id="inputUser" placeholder="Nombre del usuario">
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
        </div>
        <div class="checkbox">
            <label>
                <input id="check_recordar" type="checkbox" class="checkbox" value="">
                No cerrar sesión
            </label>
        </div>
        <br>
        <!-- TODO Añadir funcion para ir al form de registro-->
        <input type="button" class="btn btn-info" value="Registrarse">
        <input type="button" class="btn btn-primary" value="Login" id="button_login">
    </div>
</div>