<!-- TODO Crear la plantilla del form de registro-->
<div id="plantilla_registro">
    <form id="form_registro" class="form-control">
        <input type="button" id="button_registrarse" class="btn btn-primary" value="Registrarse">
    </form>
</div>


<div id="plantilla_redir">
    <div class="redir">
        <i class="fa fa-check fa-2x"></i>Registro completado<i class="fa fa-check fa-2x"></i>
        <br>Redirigiendo a la pagina principal
        <br>Si no redirige en 3 segundos pulse <a href="javascript:principal()">aquí</a>
        <br><i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
</div>