<!-- TODO Crear la plantilla del form de registro-->
<div id="plantilla_registro">
    <form id="form_registro" class="form-horizontal">
        <fieldset>
            <legend>Registro</legend>
            <div class="row" id="registro_parte_1">
                <div class="form-group col-md-6">
                    <div class="form-group input-group" id="registro_user">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i>Nombre de usuario</span>
                        <input type="text" class="form-control" id="input_user_registro" placeholder="Nombre del usuario">
                        <span class="help-block" id="help_user"></span>
                        <span class="glyphicon form-control-feedback" id="icon_help_user"></span>
                    </div>
                    <div class="form-group input-group" id="registro_pass">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i>Contraseña</span>
                        <input type="password" class="form-control" id="input_pass_registro" placeholder="Contraseña">
                        <span class="help-block" id="help_pass"></span>
                        <span class="glyphicon form-control-feedback" id="icon_help_pass"></span>
                    </div>
                    <div class="form-group input-group" id="registro_pass_2">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i>Repetir contraseña</span>
                        <input type="password" class="form-control" id="input_pass_2_registro" placeholder="Repetir contraseña">
                        <span class="help-block" id="help_pass_2"></span>
                        <span class="glyphicon form-control-feedback" id="icon_help_pass_2"></span>
                    </div>
                    <div class="form-group input-group" id="registro_email">
                        <span class="input-group-addon"><i class="fa fa-email fa-fw"></i>Email</span>
                        <input placeholder="Email" class="form-control" id="input_email_registro" type="email"/>
                        <span class="help-block" id="help_email"></span>
                        <span class="glyphicon form-control-feedback" id="icon_help_email"></span>
                    </div>
                </div>
            </div>
            <input type="button" id="button_registro_parte_1" class="btn btn-primary" value="Siguiente">
        </fieldset>
    </form>
</div>


<div class="col-md-6">
    nombre
    apellidos
    direccion
    telefono
    imagen
</div>

<div id="plantilla_redir">
    <div class="redir">
        <i class="fa fa-check fa-2x"></i>Registro completado<i class="fa fa-check fa-2x"></i>
        <br>Redirigiendo a la pagina principal
        <br>Si no redirige en 3 segundos pulse <a href="javascript:principal()">aquí</a>
        <br><i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
</div>