@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito-Regular.ttf) format("truetype");
}

#titulo{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Nunito';
}

#row_nav{
    position: relative;
}

#login{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    margin-right: 15px;
    text-align: center;
    width: 100px;
    height: 45px;
}

#click_login, #inicio{
    cursor: pointer;
}

.scroll_horizontal{
    overflow:scroll;
}

.panel-heading{
    height: 145px;
    background-image: -webkit-linear-gradient(top, #f8e1ad 0%, #f8c390 100%);
    background-image:      -o-linear-gradient(top, #f8e1ad 0%, #f8c390 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8e1ad), to(#f8c390));
    background-image:         linear-gradient(to bottom, #f8e1ad 0%, #f8c390 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
}

.row{
    margin-right: 0px;
}

.redir{
    text-align: center;
    font-size: 16px;
}

.redir > .fa-check{
    color: lightgreen;
    margin: 0px 10px;
}
